# Exclude everything:
*

# Include
!bun.lock
!package.json
!turbo.json

# tooling/typescript
!tooling/typescript

# packages/core
!packages/core

# packages/cli-dev
!packages/cli-dev

# releases
!releases

# patches
!patches

# Global exclude
**/.cache
**/.env
**/.env.*
**/.turbo
**/dist
**/bin/grepai
**/node_modules
