# Caches
.cache
.turbo

# Build outputs
dist
releases/cli/index.js
releases/cli/index.js.map
*.wasm

# Dependency directories
node_modules/

# dotenv environment variable files
!.env.example
.env
.env.*

# Finder (MacOS) folder config
.DS_Store

# TypeScript
*.tsbuildinfo

# IDE settings
.zed
.vscode

# Opencode
.opencode
.sisyphus

# Misc.
*.tgz
*.lance
.grepai/**/agentfs
.opensource
